table > * {
  border: none !important;
}

.leaderboard {
  font-family: Bebas Neue, sans-serif;
  font-style: italic;
  max-width: 80vw;
  min-width: 30vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.leaderboard > h2 {
  font-size: 35px;
  margin: 20px 0;
  text-align: center;
  color: white;
}

.my-responsive-table > li {
  border: none !important;
  padding: 25px 30px;
  display: flex;
  
}

.table>:not(caption)>*>* {
  border: none !important;
  border-bottom-width: 0px !important;
}

table{
  border: none !important;
  border-bottom-width: 0px !important;
  border-top-width: 0px !important;
}

.table-header > * {
  border: none !important;
  border-bottom-width: 0px !important;
}

.table-header {
  font-family: Bebas Neue, sans-serif;
  font-style: italic;
  background-color: transparent;
  font-size: 20px;
  text-transform: uppercase;
  border: none !important;
  letter-spacing: 0.03em;
}
.table-row {
  font-size: 18px;;
  box-shadow: 0px 9px 14px 0px rgba(0, 0, 0, 0.1);
  align-items: center;
  border: none !important;
  transition: transform 0.2s;
  /* opacity: 0.7; */
}

.table-row:hover {
  transform: scale(1.05);
  border: none !important;
}

.table-header > .board-col-2 {
  border: none !important;
}

.table-row > .board-col-2 {
  padding-left: 40px;
  border: none !important;
}

.board-col-1 {
  flex-basis: 10%;
  border: none !important;
}

.board-col-2 {
  flex-basis: 40%;
  border: none !important;
}

.board-col-3 {
  flex-basis: 25%;
  border: none !important;
}

.board-col-4 {
  flex-basis: 25%;
  border: none !important;
}

.leaderboard-col > img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}
.leaderboard-col > p {
  display: inline-flex;
}

.first {
  background-color: rgb(237, 232, 171, 0.4);
}
.second {
  background-color: rgb(192, 192, 192, 0.4);
}
.third {
  background-color: rgb(223, 173, 124, 0.4);
}
.positive {
  color: rgb(3, 114, 3);
}

.negative {
  color: rgb(193, 11, 11);
}

.scrollable {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 50vh;
  padding: 25px;
}

::-webkit-scrollbar {
  width: 10px;
  margin: 0;
}

.moz-scroller {
  overflow-y: scroll;
  scrollbar-color: rgb(25, 228, 255) transparent;
}
